@font-face {
    font-family: "Nunito",sans-serif ;
    src: url();
}

:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Nunito";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: seashell;
    color: rgb(82, 0, 26);
    flex-direction: column;
    
}

footer{
    font-size: 0.8rem;
    padding-top: 2rem;
}

.board{
        display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    
    width: 500px;
    height: 500px;
    margin: 24px;
}

.rows, .columns{
    border: 1px solid black;
}

.columns{
    transform: rotate(90deg);
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.cell{
    display: grid;
    align-items: center;
    /*background-color: white;*/
    border-bottom: 1px dotted rgb(207, 122, 96);
    border-right: 1px dotted rgb(207, 122, 96);
    width: 100%;
    /*height: 100%;*/
    font-size: 80px;
    text-align: center;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}


.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}


.x-marker{
    color: #9b59b6;
}

.o-marker{
    color: #f39c12;
}

.players, .status{
    padding: 1.1rem 0 0 0;
}

.status{
    font-size: 1.2rem;
    font-weight: 800;
}


.container{
    border: 1px dotted rgb(207, 122, 96);
    padding: 24px;
    margin: 24px;
    background-color: rgb(255, 251, 241);
    
}

#player1, #player2{
    border: 1px solid rgb(207, 122, 96);
    border-radius: 2px;
    padding: 4px;

    font-size: 1rem;
}


label{
    padding: 0 8px 0 0;
    

}

input{
    margin-right: 8px;
}

.start{
    display: block;
    margin-top: 16px;
}

h1{
    padding-bottom: 1.2rem;
    font-size: 1.4rem;
    border-bottom: 1px dotted rgb(207, 122, 96);
    
}

.enter-names{
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.players-inputs{
    padding: 1rem 0;
}

button{
    padding: 6px 12px;
    font-size: 1.2rem;
    font-family: "Nunito";
    color:bisque;
    background-color: peru;
    border: none;
}

button:hover,
button:active{
    background-color: sienna ;
}

.reset{
    background-color: olive;
}

.reset:hover{
    background-color: darkkhaki;
    color: darkmagenta;
}

.reset:focus{
    background-color: palevioletred;
}

.player1-turn {
    color: #9b59b6; 
}

.player2-turn {
    color: #f39c12;
}

