@font-face {
    font-family: "Nunito",sans-serif ;
    src: url();
}

body{
    font-family: "Nunito";
    display: flex;
    align-items: center;
    justify-content: center;
}


.board{
        display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    
    width: 500px;
    height: 500px;
}

.rows, .columns{
    border: 1px solid black;
}

.columns{
    transform: rotate(90deg);
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cell{
    display: grid;
    align-items: center;
    /*background-color: white;*/
    border-bottom: 1px solid saddlebrown;
    border-right: 1px solid saddlebrown;
    width: 100%;
    /*height: 100%;*/
    font-size: 80px;
    text-align: center;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}


.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.player1{
    background-color:aliceblue;
    border: 1px solid black;
    border-radius: 50%;
}